<div>
<form [formGroup]="register">
  <label>firstname</label>
  <input type="text" placeholder="firstname" formControlName="firstname" minlength="3" maxlength="8">
  <span *ngIf="firstname && firstname.invalid && firstname.touched" style="color:red;">Enter valid firstname</span>
  <br><br>
  <label>lastname</label>
  <input type="text" placeholder="lastname" formControlName="lastname" minlength="3" maxlength="8">
  <span *ngIf="lastname && lastname.invalid && lastname.touched" style="color:red;">Enter valid lastname</span>
  <br><br>
  <label>email</label>
  <input type="text" placeholder="email" formControlName="email">
  <span *ngIf="email && email.invalid && email.touched" style="color:red;">Enter valid email</span>
  <br><br>
  <label>password</label>
  <input type="password" placeholder="password" formControlName="password"minlength="8" maxlength="12">
  <span *ngIf="password && password.invalid && password.touched" style="color:red;">Enter valid password</span>
  <br><br>
  <label>confirmpassword</label>
  <input type="password" placeholder="confirmpassword" formControlName="confirmpassword">
  <span *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched" style="color:red;">Enter valid password</span>
  <br><br>
  <label>Mobile</label>
  <input type="number" placeholder="mobile" formControlName="mobile" minlength="10">
  <span *ngIf="mobile && mobile.invalid && mobile.touched" style="color:red;">Enter valid Mobile</span>
  <br><br>
  <button class="btn btn-primary" (click)="GetData()" >submit</button>
</form>
</div>




